@charset "utf-8";
/* CSS Document */
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%; vertical-align: baseline;}

table, tbody, tfoot, thead, tr, th, td, span {	margin: 0;	padding: 0;	border: 0;	font-size: 100%; font:inherit;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body{line-height: 1;}
ol, ul{list-style: none;}
table{border-collapse:collapse;border-spacing:0;}
.radio, .checkbox{margin-top:inherit;}
/* #Basic Styles
================================================== */
html {
  font-size: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  color: #888888;
  font: 400 14px/18px  'Proxima Nova', sans-serif;
  background: #eef1f5;
  letter-spacing: 0;
  position: relative;
  padding: 68px 0 0 0;
}
body form {
  height: 100%;
}
img {
  border: 0px;
  vertical-align: top;
}
.container {
  position: relative;
}
/* #Typography
================================================== */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h2 {
  color: #000000;
}
p {
  line-height: 1;
}
p img {
  margin: 0;
}
/* #Links
================================================== */
a
 {
  color: #27b7ee;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover,
a:focus {
  color: #337ab7;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
p a,
p a:visited {
  line-height: inherit;
  outline: 0;
}
.uppercase {
  text-transform: uppercase;
}
/* #Clearing
================================================== */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.ie7 .clearfix {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* #Form 
================================================== */
input:focus, select:focus, textarea:focus{box-shadow:none !important;}
input[type="text"]{outline:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
input[type="number"]{outline:0;-webkit-window-frame-left:none;-moz-window-frame-left:none;window-frame-left:none;}
input[type="password"]{outline:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
input[type="submit"]{outline:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
input[type="button"]{outline:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
input[type="checkbox"]{outline:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
input[type="redio"]{outline:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
textarea{outline:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
button{outline:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
:after, :before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
input, select, textarea{outline:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;}